.page.theme_dark {
  --bg-color: #000028;
  --header-text-color: #000028;
  --accent-color: #FF0070;
  --header-title-shadow: #ff0070;
  --link-shadow: #ff0070;
  --text-color-base: #f1b2ce;
  --header-title-color: #db00ff;
  --emphasize-color: #ff0070;
  --opacity: #FF007066;
  --background-image: url(../images/cover-image-dark.png);
} 
