.page.theme_dark {
  --bg-color: #000028;
  --header-text-color: #000028;
  --accent-color: #FF0070;
  --header-title-shadow: #ff0070;
  --link-shadow: #ff0070;
  --text-color-base: #f1b2ce;
  --header-title-color: #db00ff;
  --emphasize-color: #ff0070;
  --font-family: "IBM Plex Mono", serif;
  --font-weight-bald: 700;
  --font-weight-normal: 400;
  --font-size-base: 18px;
  --title-font-size-mobile: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --title-font-size-others: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  --background-image: url(../images/cover-image-dark.png);
} 
